/* overall style */
    body {
        font-family: Ubuntu! important;
    }
    
/* navbar style */
    .nav-bar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        background-color:#343a40!important;
        text-align: center;
        border-bottom: 3px #0199c7 solid;
        padding-left: 7%;
        z-index: 10;
    }

    nav.container {
        max-width: 100%;
    }

    .nav-bar ul {
        float: left;
    }

    /* header links */
            ul a {
                color: #eaeeee;
                font-size: 20px;
            }

            ul .active {
                color: #0288b1;
                font-weight: bolder;
                font-size: 20px
            }

            a:hover {
                color: #629296;
                text-decoration: none;
            }


#content-container {
    margin-top: 65px;
}

/*profile picture*/
.responsive {
    margin-top: 40px;
    padding: 0;
    width: 100%;
    height: auto;
}

#profile-picture {
    height: 500px;
    border-radius: 1000px;
}

.about-me{
    margin-bottom: 30px!important;
}

.about-me-text {
    font-size: larger;
}

    .description {
        margin-top: 70px;
    }

    .hello-im-dilan {
        font-weight: 600;
        font-size: 50px;
    }

    p {
        color: #243030;
        font-size: 30px;
    }

    .creative-solutions {
        font-weight: 800;
        font-style: oblique;
        color: orange;
    }

    .opportunity {
        font-weight: 600;
    }


p {
    margin: 15px;
    /* clear: both; */
}

.logos-list{
    float: right;
}

.logos {
    height:3em;
}

.resume {
    background-color: orange!important;
}

/* style for all gitHub projects */

#projects-title{
    font-weight: 600;
    font-size: 35px;
}

.projects {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(143, 143, 143, 0.19);
}

.projects:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-names {
    font-weight: 600;
    font-size: 25px;
}

.project-descriptions {
    font-size: 17px;
}

.project-links {
    text-align: center;
}

.project-links a {
    color:  #0288b1;
    font-size: 17px;
}


    /*style for contact form*/
        

     #information p{
        font-size: 20px;
    }

    #contact {
        font-weight: 600;
        font-size: 35px;
        color: #0199c7;
        padding-top: 10px;
        padding-bottom: 20px;
    }

.contact-container {
    line-height: 1.2em;
    margin-top:90px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 13%;
    width: 100%;
    background-color: #42484f;
    text-align: left
}

.contact-container p, .contact-container a {
    color: #eaeeee;
}

#copyright {
    padding-top: 15px;
    font-size: 14px;
}