/* overall style */
    body {
        font-family: Ubuntu! important;
    }

    /* .container { */
        /* margin: 0; */
    /* } */


    
/* navbar style */
    nav.container {
        max-width: 100%;
        /* background-color: #dff1f177; */
        /* border-bottom: #629296  1px solid; */
    }

    li:nth-of-type(1), li:nth-of-type(2) {
        border-right: #cfd4d4 solid 1px;    
    }

    /* header Dilan Li*/
    #Dilan {
        background-color:#243030;
        color: white;
    }

    /* header links */
            a {
                color: #243030;
                font-size: 20px;
            }

            a:hover {
                color: #629296;
                text-decoration: none;
            }

            #active {
                color: #0199c7;
                font-weight: bolder;
                font-size: 20px;
            }

/*profile picture*/
.headshot {
    margin-top: 40px;
    padding: 0;
}

#profile-picture {
    height: 500px;
}


/* Middle section style below */
    /* Section title (About Me, Image Gallery, Contact) */
    /* h2 {
        font-weight: 600;
        font-size: 1.5em;
        color: #3d5d5f;
    } */

    .description {
        margin-top: 70px;
    }

    .hello-im-dilan {
        font-weight: 600;
        font-size: 50px;
    }

    p {
        color: #243030;
        font-size: 30px;
    }

    .creative-solutions {
        font-weight: 800;
        font-style: oblique;
        color: orange;
    }

    .opportunity {
        font-weight: 600;
    }




/* index.html*/
p {
    margin: 15px;
    /* clear: both; */
}

.logos-list{
    float: right;
}

.logos {
    height:3em;
}

.resume {
    background-color: orange!important;
}




/* contact.html*/
    /*style for contact form*/
        form {
            border: #c8dee0 dotted 2px;
            color: #243030;
            background-color: #dff1f177;
        }
        
        .btn {
            background-color: #243030;
            border: wheat;
        }

        .btn:hover {
            background-color: #629296;
        }





/* footer style */
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px; 
        background-color: rgb(19, 17, 17);
        color: #c9d0d1;
        text-align: center;
        border-top: 3px #629296 solid;
    }